<% layout('layouts/boilerplate.ejs')%>

<h1>All Campgrounds</h1>
<div>
    <a href="/campgrounds/new">Add Campground</a>
</div>

    <% for(let campground of campgrounds) {%>
        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <!-- this puts the side image in each panel -->
                    <img class="img-fluid" alt="" src='<%=campground.image%>'>
                </div>
                <!-- this creates our panels and shrinks them to a medium size -->
                <div class="col-md-8">
                    <div class="card-body">
                        <!-- this affects the campground title -->
                        <h5 class="card-title"><%= campground.title %></h5>
                        <!-- this affect the campground description -->
                        <p class ='card-text'><%= campground.description%></p>
                        <!-- this creates the campground location -->
                        <p class ='card-text'>  
                            <!-- this will mute the text -->
                            <small class="text-muted"><%= campground.location%></small>
                        </p>
                        <!-- this creates the button going to the specific campground -->
                        <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
                    </div>
                </div>
            </div>
        </div>

<% }%>

    
